body {
  background-color: #0a0a0a;
  color: #ffffff;
}

.app {
  &-window {
    position: relative;

    &__close-button {
      position: fixed;
      width: 48px;
      height: 48px;
      background-color: #4f8d71;
      top: 0;
      right: 0;
      cursor: pointer;

      &::before {
        @extend .material-icons;
        position: absolute;
        content: "close";
        font-size: 32px;
        top: 8px;
        left: 8px;
      }
    }

    &__logo {
      display: block;

      &--center {
        text-align: center;
      }

      img {
        max-width: 240px;
        padding: 0 0 48px 0;

        @include media-breakpoint-large {
          max-width: 350px;
        }
      }
    }

    &__title {
      position: relative;
      display: block;
      font-size: 2.75em;
      font-weight: 300;
      letter-spacing: 5px;
      line-height: 54px;
      text-transform: uppercase;
      text-align: center;
      padding: 96px 0;
      background-color: #000000;

      &::after {
        position: absolute;
        content: "";
        background-color: $colors-green;
        width: 4px;
        height: 48px;
        top: calc(100% - 24px);
        left: calc(50% - 2px);
      }

      @include media-breakpoint-large {
        padding: 128px 0;
      }
    }
  }
}

.app-page {
  &__wrapper {
    display: block;
  }

  &__content {
    margin: 0 auto;
    width: 100%;

    @include media-breakpoint-large {
      max-width: $app-body-limit;
    }
  }

  &__padding {
    padding: 64px 32px;

    @include media-breakpoint-large {
      padding: 90px 0;
    }
  }
}

.floating-message {
  position: fixed;
  z-index: 100;
  bottom: 40px;
  transition: all .3s ease;
  width: min(90%, 1200px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
}

.floating-message__content {
  background-color: #000000;
  border-radius: 4px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0 auto;
  padding: 0 24px 4px;
}

.floating-message__content > p { 
  flex: 1; 
  padding: 0 2rem;
  margin: 1em 0;
}
.floating-message__content > label { 
  margin-top: 8px; 
  cursor: pointer;
  margin-bottom: 0;
}
.floating-message__content a { color: #4f8d71; }

#cookie-trigger { display: none; }
#cookie-trigger:checked + .floating-message { bottom: -150px; }