.flex {
  display: flex;

  &.columns {
    flex-direction: column;

    @include media-breakpoint-large {
      flex-direction: row;
    }
  }

  .column {
    flex: 1;

    @include media-breakpoint-large {
      & + .column {
        margin-left: 40px;
      }
    }
  }
}